<!-- Header Component -->
<header class="header">
  <div class="header-content">
    <!-- Left Side: Logo -->
    <div class="header-left">
      <div class="logo">
        <img src="../assets/dhl-logo.png" alt="DHL Logo" />
      </div>
    </div>
    
    <!-- Desktop Navigation -->
    <nav class="nav desktop-nav">
      <a href="../home-page/index.html" class="nav-link" data-page="home">HOME</a>
      <a href="../information-page/index.html" class="nav-link" data-page="info">INFO</a>
      <a href="../gallery-page/index.html" class="nav-link" data-page="gallery">GALLERY</a>
      <a href="../challenges-page/index.html" class="nav-link" data-page="challenges">CHALLENGES</a>
      <a href="../faqs-page/index.html" class="nav-link" data-page="faqs">FAQS</a>
      <a href="../contact-page/index.html" class="nav-link" data-page="contact">CONTACT</a>
    </nav>
    
    <!-- Right Side: Social Icons and Mobile Menu -->
    <div class="header-right">
      <div class="social-icons">
        <a href="#" class="social-icon">
          <img src="../assets/icons/click-icon.svg" alt="Icon" />
        </a>
        <a href="#" class="social-icon">
          <img src="../assets/icons/facebook.svg" alt="Facebook" />
        </a>
        <a href="#" class="social-icon">
          <img src="../assets/icons/instagram.svg" alt="Instagram" />
        </a>
      </div>
      
      <!-- Mobile Header Right Side -->
      <div class="mobile-header-right">
        <!-- Hamburger Menu Button -->
        <button class="hamburger-menu" id="hamburger-menu">
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
        </button>
      </div>
    </div>
  </div>
  
  <!-- Mobile Sidebar Navigation -->
  <nav class="mobile-sidebar" id="mobile-sidebar">
    <div class="sidebar-content">
      <a href="../home-page/index.html" class="sidebar-link" data-page="home">HOME</a>
      <a href="../information-page/index.html" class="sidebar-link" data-page="info">INFO</a>
      <a href="../gallery-page/index.html" class="sidebar-link" data-page="gallery">GALLERY</a>
      <a href="../challenges-page/index.html" class="sidebar-link" data-page="challenges">CHALLENGES</a>
      <a href="../faqs-page/index.html" class="sidebar-link" data-page="faqs">FAQS</a>
      <a href="../contact-page/index.html" class="sidebar-link" data-page="contact">CONTACT</a>
    </div>
  </nav>
  
  <!-- Mobile Sidebar Overlay -->
  <div class="sidebar-overlay" id="sidebar-overlay"></div>
</header>
